@media screen and (prefers-color-scheme: dark) {
    :root {
        --ui-button-background-color: #212f3d;
        --ui-button-color: #808b96;
        --ui-button-hover-background-color: #1c2833;

        --ui-input-background-color: #212f3d;
        --ui-input-color: #808b96;

        --ui-card-background-color: #808080;
        --ui-card-hover-background-color: #A0A0A0;

        --page-login-background: #708090;
    }
    body {
        background-color: #5a5a5a;
    }
}

@media screen and (prefers-color-scheme: light) {
    :root {
        --ui-button-background-color: #212f3d;
        --ui-button-color: #808b96;
        --ui-button-hover-background-color: #1c2833;

        --ui-input-background-color: #212f3d;
        --ui-input-color: #808b96;

        --ui-card-background-color: #808080;
        --ui-card-hover-background-color: #A0A0A0;

        --page-login-background: #708090;
    }
    body {
        background-color: #5a5a5a;
    }
}
