@media screen and (prefers-color-scheme: dark) {
    :root {
        --ui-button-background-color: #2a2a3a;
        --ui-button-color: #808b96;
        --ui-button-hover-background-color: #1a1a2a;

        --ui-input-background-color: #2a2a3a;
        --ui-input-color: #808b96;

        --ui-card-background-color: #6a6a6a;
        --ui-card-color: #0f0f0f;
        --ui-card-hover-background-color: #8a8a8a;

        --page-login-background: #708090;

        --page-change-password-background: #708090;

        --page-user-earn: #006000;
        --page-user-notearn: darkred;
    }
    body {
        background-color: #18181a;
        color: #bababa;
    }
}

@media screen and (prefers-color-scheme: light) {
    :root {
        --ui-button-background-color: #2a2a2f;
        --ui-button-color: #808b96;
        --ui-button-hover-background-color: #202025;

        --ui-input-background-color: #2a2a2f;
        --ui-input-color: #808b96;

        --ui-card-background-color: #8a8a8a;
        --ui-card-color: #000000;
        --ui-card-hover-background-color: #aaaaaa;

        --page-login-background: #708090;

        --page-change-password-background: #708090;

        --page-user-earn: green;
        --page-user-notearn: darkred;
    }
    body {
        background-color: #5f5f5f;
        color: #000000;
    }
}
